{% extends "base.html" %}

{% block title %}
    {% comment %} Title Here {% endcomment %}
{% endblock title %}
{% block content %}
    <main>
        <h1>My Receipts</h1>
    </main>
{% endblock content %}
